*.f3z filter=lfs diff=lfs merge=lfs -text
COMP207[[:space:]]Devlog[[:space:]]Markdown.zip filter=lfs diff=lfs merge=lfs -text
COMP207[[:space:]]Devlog[[:space:]]PDF.zip filter=lfs diff=lfs merge=lfs -text
